* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header section */

header {
    padding: 15px 35px 60px 35px;
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#high-scores {
    background-color: white;
    border: 0;
    padding: 0;
    font-size: 24px;
    color: #D395EF;
}

#timer, #timer-span {
    font-size: 24px;
    color: black;
}

/* main section */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 5px 35px 5px 35px;
    color: black;
}

.text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 180px 30px 180px;
}

.main-text {
    flex: 100%;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 20px 50px;
}

.second-text {
    flex: 100%;
    font-size: 26px;
    color: black;
    text-align: center;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 780px;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    list-style: none;
    width: 200px;
}

.button-list li {
    flex: 100%;
}

.answer-btn {
    width: 100%;
    text-align: left;
}

main button {
    background-color: #351C75;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    padding: 8px;
    margin: 5px 0;
}

main button:hover {
    background-color: #D395EF;
}

#alert-text-container {
    flex: 100%;
    text-align: center;
    padding: 20px 50px;
}

#alert-text {
    
}
