* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header section */

header {
    padding: 15px 35px 60px 35px;
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#high-scores {
    background-color: white;
    border: 0;
    padding: 0;
    font-size: 24px;
    color: #D395EF;
}

#timer, #timer-span {
    font-size: 24px;
    color: black;
}

/* main section */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 5px 200px 5px 200px;
    color: black;
}

.text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
}

.main-text {
    flex: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}

.second-text {
    flex: 100%;
    font-size: 26px;
    color: black;
    text-align: center;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 680px;
    padding: 25px 50px;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    width: 250px;
}

.button-list li {
    flex: 100%;
    text-align: center;
}

.answer-btn {
    width: 100%;
    text-align: left;
}

main button {
    background-color: #351C75;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    padding: 8px;
    margin: 5px 0;
}

main button:hover {
    background-color: #D395EF;
}

#alert-text-container {
    flex: 100%;
    text-align: left;
    padding-top: 5px;
}

.alert-text {
    color: rgba(128, 128, 128, 0.5);
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

/* form section */
#form-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    padding: 10px 0;
}

.score-form {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    font-size: 26px;
    color: black;
    text-align: left;
}

#input-label {
    padding-right: 10px;
    font-weight: bold;
}

#initials-input {
    width: 50%;
    padding: 0 5px;
    border: 1px solid;
    font-size: 26px;
    
}

#form-submit {
    background-color: #351C75;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 26px;
    margin: 5px 10px;
    padding: 8px 16px;
}

/* scores sections */
#score-list-wrapper {
    width: 100%;
}
#score-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    font-size: 26px;
    padding: 0 50px;
    width: 100%;
}

#score-list-item {
    flex: 100%;
    width: 100%;
    padding: 6px;
    background-color: #D9D3E9;
}

#scores-buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 50px;
}

#back-button {
    margin-right: 12px;
}

/* media queries */
@media screen and (max-width: 740px) {
    main {
        padding: 5px 30px;
    }

    .main-text {
        font-size: 30px;
    }

    #instructions-text  {
        font-size: 18px;
    }
}

@media screen and (max-width: 560px) {
    .answer-btn, #score-message {
        font-size: 20px;
    }

    #input-label, #initials-input, #form-submit, #clear-button, #back-button {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    #text-wrap {
        padding: 20px 5px;
    }

    .main-text {
        font-size: 22px;
        padding-bottom: 5px;
    }

    #instructions-text  {
        font-size: 18px;
        font-weight: lighter;
    }
    #high-scores, #timer, #timer-span  {
        font-size: 18px;
    }
    .score-form {
        flex-wrap: wrap;
    }

    #initials-input {
        width: 188.8px;
    }

    #form-submit {
        flex: 100%;
        width: 100%;
    }

    #score-list {
        padding: 0;
    }
}
